/* font-family: 'Dancing Script', cursive;
font-family: 'Smooch', cursive; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background-image: url(./img/magicportal.jpg);
    background-repeat: no-repeat;
    background-size: Center;
    z-index: 1;
    width: 650px;
    height: 650px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.title-text {
    color: rgb(58, 58, 218);
    font-family: 'Dancing Script', cursive;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 30%;
    font-weight: bolder;
    font-size: 25px;
    transform: rotate(-40deg);
    text-shadow: 2px 2px rgb(252, 253, 253);
}
.startBall {
    position: relative;
    top: 12%;
    left: 25%;
    /* margin: auto; */
    top: 13%;
    /* bottom: 0; */
    left: 23%;
    right: 0;
}
.inputBox {
    position: relative;
    width: 500px;
    height: 500px;
    color: cornflowerblue;
    position: absolute;
    top: 60%;
    left: 43%;
}
.btn {
    text-align: center;
    position: absolute;
    top: 65%;
    left: 45%;
}
